{% load static %}

{# BOOTSTRAP #}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{# MATERIAL ICONS #}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

{# RUBIK FONT #}
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

{# WAVES EFFECTS #}
<link rel="stylesheet" href="https://cdn.bootcss.com/node-waves/0.7.2/waves.min.css" />

{# Flex Forms #}
<link type="text/css" rel="stylesheet" href="{% static 'flex_forms/css/default.css' %}">

{# Template Tables #}
<link type="text/css" rel="stylesheet" href="{% static 'template_tables/css/default.css' %}">

{# Floating Windows  #}
<link type="text/css" rel="stylesheet" href="{% static 'floating_windows/css/windows.css' %}">

{# Perfect Scrollbar #}
<link type="text/css" rel="stylesheet" href="{% static 'vendor/perfect_scrollbar/css/perfect-scrollbar.css' %}">

{# CUSTOM #}
{# COMPONENTS #}
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/collapsible_sidebar.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/navbar.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/dropdown_with_badge.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/info_badge.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/breadcrumbs.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/alerts.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/flex_forms.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/template_tables.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/floating_windows.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/buttons.css' %}">

{# OTHER #}
<link type="text/css" rel="stylesheet" href="{% static 'styles/landing.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/content.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/base.css' %}">