/* Info Badge CSS */

/* region Info Badge */

.info-badge-row .info-badge-col {
    flex: 0 0 2.7rem;
}

.info-badge-row .info-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27a9e3;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: white;
}

.info-badge-row .info-badge-row-description {
    align-items: center;
    white-space: pre-wrap;
}

/* Media */

@media screen and (max-width: 576px) {
    .info-badge-row .info-badge-col-align {
       display: none;
    }
}

/* End Media */

/* endregion */